.table {
    $root: &;

    &__container {
        display: flex;

        &-el {
            width: 50%;
            padding: 10px;

            &--red {
                background-color: red;
            }

            &--green {
                background-color: green;
            }

            &--yellow {
                background-color: yellow;
            }
            
            &--none {
                display: none;;
            }
        }
    }

    &__footer {
        display: flex;
        //justify-content: center;
        margin-top: 40px;

        &-button {
            margin: 0 auto;
        }
    }
}