mixin table(props)
    .table&attributes(attributes)
        .table__container
            .table__container-el.table__container-el--red
                p Text
                p Text
                p Text
                p Text
            .table__container-el.table__container-el--yellow
                ul 
                    li text
                    li text
                    li text
                    li text
                ol 
                    li text
                    li text
                    li text
                    li text
        .table__footer
            button.table__footer-button Start
